name: Create diagram
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
jobs:
  get_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Update diagram
        uses: githubocto/repo-visualizer@main
        with:
          excluded_paths: "ignore,.github,node_modules,cache,.vs,testcache2,examples,.gitignore,.gitattributes,diagram.svg"
          excluded_globs: "**/*.csproj,**/bin,**/obj"
          file_colors: {"py": "green","cs": "red"}